{% extends "appUsuario/template_basico.html" %}

{% block style_block %}
<style>
  form{
    margin: 50px 30px 0px;
  }
  table.coder-table {
    border: 2px solid green;
    align-items: center;
  }
  th,td {
    border: 3px solid green;
    padding:5px 10px;
    text-align: center;
  }
  .mostrar-tabla{
    margin: 10px 100px;
    display:flex;
  }
  .boton{
    text-decoration: none;
    padding: 5px;
    border: 2px solid green;
    margin: 10px 150px;
    color: black;
    font-size:medium;
  }
  .boton :hover{
    color:darkgreen;
    font-size: large;
    padding: 5px;
    text-decoration: none;
  }
</style>
{% endblock style_block %}


{% block bloque_base %}
{%if usuarios%}
<form action="{% url 'buscar_usuario' %}" method="GET">
    {% csrf_token %}
    <span>Nombre:
      <input type="text" name="nombre">
    </span>
    <input type="submit" value="Buscar" />
</form>

  <div class="mostrar-tabla">
    <table class="coder-table">
      <tbody>
        <tr>
          <th>
            <p id="p0"> <strong>Nombre</strong></p> 
          </th>
          <th>
            <p id="p1"> <strong>Apellido</strong></p>
          </th>
          <th>
            <p id="p2"> <strong>Email</strong></p>
          </th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
          <td>{{usuario.nombre}}</td>
          <td>{{usuario.apellido}}</td>
          <td>{{usuario.email}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <a class="boton" href="{% url 'busquedaUsuario' %}"><b>Volver a buscar</b></a>
{%else%}
<h3>No hay usuarios!</h3>
<a class="boton" href="{% url 'crear_usuario' %}"><b>Pulsa para crear</b></a>
{%endif%}

{% endblock bloque_base %}