{%extends "appUsuario/template_basico.html"%}
{% block style_block %}
<style>
.mostrar-tabla{
    margin: 35px;
}
tr,td{
    border: 1px solid green;
    padding: 5px;
    text-align: center;
    width: 100%;
}
th{
    border:2px solid green;
    padding: 5px;
    text-align: center;
}
h3{
    color:darkgreen;
}
.btn-acciones-articulos{
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    padding: 3px; /*espacio alrededor texto*/
    background-color: #2e518b; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: capitalize; /*capitalización texto*/;
    border-radius: 20px; /*bordes redondos*/
}
.titulo{
    width: 10%;
    height: auto;
}
.fecha{
    width: 10%;
    height: auto;
}
.texto{
    width: 60%;
    height: auto;
}
.acciones{
    width: 20;
    height: auto;
}
.td-btn-acciones{
    width: 10%;
    height: auto;
}
</style>
{% endblock style_block %}

{%block bloque_base%}

{%if exitoart%}
<div style = "background-color: aquamarine;"> Tu post fué guardado!! </div>
{%endif%}

{%if exitonew%}
<div style = "background-color:lightcoral;"> Tu post fué guardado!! </div>
{%endif%}

{%if borrado%}
<div style = "background-color: orange ;"> Fue borrado exitosamente el articulo ID:{{borrado}}" </div>
{%endif%}

<h2>Inicio </h2>
{%if articulos%}
<div class="mostrar-tabla">
    <table class="coder-table">
        <tbody>
            <tr>
                <th class="titulo">
                    Titulo:
                </th>
                <th class="fecha">
                    Fecha:
                </th>
                <th class="texto">
                    Texto:
                </th class="acciones">
                <th colspan="2">
                    Acciones
                </th>
            </tr>
            {%for articulo in articulos%}
                <tr>
                    <td class="titulo">
                        {{articulo.titulo}}
                    </td>
                    <td class="fecha">
                        {{articulo.fecha_publicada|date:"SHORT_DATE_FORMAT"}}
                    </td>
                    <td class="texto">
                        {{articulo.texto}}
                    </td>
                    <td class="td-btn-acciones"><a class="btn-acciones-articulos" href="">Editar</a></td>
                    <td class="td-btn-acciones"><a class="btn-acciones-articulos" href="{% url 'eliminar_articulo' articulo.id %}">Eliminar</a></td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{%else%}
<h3>No hay articulos!!</h2>
{%endif%}

{%endblock bloque_base%}